.Footer_section_7 {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.Png__footer_section_7 {
  display: flex;
  gap: 60px;
}

.Text_footer_section_7{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
}