.Header_section_3{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}

.title_section_3{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 100px;
    margin-top: 100px;
    color: rgba(51, 51, 51, 1);

}

.subtitle_section_3{
    display: flex;
    margin-top: 50px;
    width: 700px;
    height: 100px;
    justify-content: space-between;
    background-color: blue;
}

.All_subtitle_section_3{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);

}

.Line_subtitle_section_3{
    color: rgba(51, 51, 51, 1);
    font-weight: 400;
}

.UU_subtitle_section_3{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
}

.GD_subtitle_section_3{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
}

.WD_subtitle_section_3{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
}