.Body_section_3 {
  display: flex;
  width: 100%;
  height: 1300px;
  justify-content: center;
}

.Mean_section_3 {
  width: 280px;
  height: 325px;
  margin: 10px;
}

.Body_eshtetic {
  width: 280px;
  height: 395px;
  margin: 10px;
}

.Body_cod {
  width: 280px;
  height: 240px;
  margin: 10px;
}

.Body_milk {
  width: 280px;
  height: 317px;
  margin: 10px;
}

.Body_sheme {
  width: 280px;
  height: 246px;
  margin: 10px;
}

.Body_book {
  width: 280px;
  height: 400px;
  margin: 10px;
}

