.Header {
  display: flex;
  height: 60px;
  justify-content: space-between;
  grid-area: h;
  /* background-color: aqua; */
}

.Lupa{
  border: none;
  background-color: white;
  margin-top: 23px;
  margin-left: 220px;
}

.Header-name {
  font-family: "Ubuntu", sans-serif;
  color: rgba(51, 51, 51, 1);
}

.Menu {
  margin-top: 27px;
}

.Input {
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  margin-left: -215px;
  margin-top: 27px;
  height: 20px;
  font-size: 20px;
}

.magnifying-glass {
  position: relative;

  width: 10px;
  height: 10px;

  /* box-sizing: border-box; */

  border-radius: 50%;

  left: 12.5%;
  right: 20.83%;
  top: 12.5%;
  bottom: 20.83%;

  border: 2px solid #333333;
}

.magnifying-glass:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;

  width: 10px;
  height: 3px;

  border-bottom-style: 1px;

  transform-origin: 0 50%;
  transform: translateX(100%) rotate(45deg);

  /* left: 69.37%;
  right: 12.5%;
  top: 69.37%;
  bottom: 12.5%; */

  border: 2px solid #333333;
}
