.Hello_section_5{
    font-family: 'Rubik', sans-serif;
    font-size: 300px;
    color: rgba(58, 58, 58, 1);
    margin-top: -15px;
}

.Get_section_5{
    position: absolute;
    top: 55px;
    left: 600px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}

.Just_section_5{
    position: absolute;
    top: 90px;
    left: 550px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    font-size: 34px;
}

.Button_contact_section_5{
    position: absolute;
    top: 180px;
    left: 590px;
}

.Contact_section_5{
    text-align: center;
    width: 140px;
    min-width: 100px;
    padding: 5px ;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    font-family: inherit;
    font-weight: 400;
    color: rgba(54, 52, 52, 1);
}

.Contact_section_5:hover{
    background: grey;
}

.Svg_section_5{
    width: 50%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 255px;
    left: 325px;
}