.Header {
  display: flex;
  height: 60px;
  justify-content:space-between ;
}

.Header-lupa{
  border: none;
  background-color: white;
  margin-left: -155px;
}

.Header-name {
  font-family: "Ubuntu", sans-serif;
  color: rgba(51, 51, 51, 1);
}

.Header-menu {
  margin-top: 27px;
}