.container{
    display: grid;
    width: 1300px;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0 auto;
    /* background-color: gray; */
    grid-template-areas:
    "h h h"
    "c c i"
    "c c i"
    "f f f";
}